<!-- prettier-ignore -->
{% extends 'base/index.html' %} {% block title %}로그인-회원가입{% endblock %} {% block css %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/login_register.css' %}" />
<link
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
	rel="stylesheet" />
{% endblock %} {% block js %} {% load static %}
<script src="{% static 'js/login_register.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %} {% block content %}
<!-- prettier-ignore -->
{% csrf_token %}
<div class="wrapper">
	{% if messages %}
	<div class="message-container">
		{% for message in messages %}
		<div class="message {{ message.tags }}">{{ message }}</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="container">
		<div class="sign-up-container">
			<form action="{% url 'user-login-register' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="action" value="signup" />
				<h1>Create Account</h1>
				<input type="text" placeholder="Username" name="username" required />
				<input type="email" placeholder="Email" name="email" required />
				<input type="password" placeholder="Password" name="password" required />
				<button class="form_btn">Sign Up</button>
			</form>
		</div>

		<div class="sign-in-container">
			<form action="{% url 'user-login-register' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="action" value="signin" />
				<h1>Sign In</h1>
				<input type="text" placeholder="Username" name="username" required autofocus />
				<input type="password" placeholder="Password" name="password" required />
				<button class="form_btn">Sign In</button>
			</form>
		</div>

		<div class="overlay-container">
			<div class="overlay-left">
				<p>To keep connected with us please login with your personal info</p>
				<button id="signIn" class="overlay_btn">Sign In</button>
			</div>
			<div class="overlay-right">
				<h1>Hello, Friend</h1>
				<p>Enter your personal details and start journey with us</p>
				<button id="signUp" class="overlay_btn">Sign Up</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
